extends ../layout

block content
  a(href='/dantilo1/') Volver

  br
  br
  br

  h1 Nuevo Cliente

  br
  br

  form(action='/dantilo1/create' method='post')
    label(for="id") ID: 
    input#id(type="text" name='id')
    br

    label(for="color") Color: 
    input#color(type="text" name='color')
    br

    label(for="superficie") Superficie: 
    input#modelo(type="text" name='superficie')
    br

    label(for="lat") Latitud: 
    input#long(type="text" name='lat')
    br

    label(for="lng") Longitud: 
    input#lat(type="text" name='lng')
    br

    input.btn(type="submit" value='Ok')
