extends ../layout

block content
   a(href='/dantilo1/create') Nuevo Cliente

   table.table
    thead
     tr
       th(scope='col') #
       th(scope='col') Color
       th(scope='col') Superficie
       th(scope='col') Ubicacion
       th(scope='col')
       th(scope="col") 

    tbody
      each cliente in clientela
        tr
          td(scope='row')
            = cliente.id
          td= cliente.color
          td= cliente.superficie
          td= cliente.ubicacion  
          td 
            a(href='dantilo1/'+ cliente.id +'/update') Editar
          td
            form.inline(method="post" action="dantilo1/" + cliente.id + "/delete")
              input(type="hidden" name="id" value= cliente.id)
              button.link-button(type="submit" name="submit_param" value="submit_value" class="btn")
                = 'Eliminar'
            