extends ../layout

block content
  a(href='/dantilo1/') Volver

  br
  br
  br

  h1 Actualizando al Cliente

  br
  br

  form(action=`/dantilo1/${cliente.id}/update` method='post')
    label(for="id") ID: 
    input#id(type="text" name='id' value=cliente.id)
    br

    label(for="color") Color: 
    input#color(type="text" name='color' value=cliente.color)
    br

    label(for="superficie") Superficie: 
    input#modelo(type="text" name='superficie' value=cliente.superficie)
    br

    label(for="lat") Latitud: 
    input#long(type="text" name='lat' value=cliente.ubicacion[0])
    br

    label(for="lng") Longitud: 
    input#lat(type="text" name='lng' value=cliente.ubicacion[1])
    br

    input.btn(type="submit" value='Ok')
